.main-container {
    width: 75%;
    height: 75vh;
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 10vh auto;

    border: 1px solid black;
    .main-cards {
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;

        justify-content: space-evenly;
        > * {
            margin: 3px 5px;
        }
    }
}
