@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,600;1,500;1,600&family=Roboto:ital,wght@0,400;0,700;1,300;1,500&display=swap');

$darkgreen1: #2f3e46;
$darkgreen2: #354f52;
$midgreen: #52796f;
$lightgreen1: #84a98c;
$lightgreen2: #cad2c5;
